<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mongo">
      <section name="debug" type="System.Configuration.NameValueSectionHandler"/>
      <section name="test" type="System.Configuration.NameValueSectionHandler"/>
      <section name="release" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <mongo>
    <debug>
      <add key="connectionString" value="mongodb://localhost:27017/PriorityQ"/>
      <add key="host" value="localhost"/>
    </debug>
    <test>
      <add key="connectionString" value="mongodb://mhg:omfgThisIsLong@flame.mongohq.com:27071/PriorityQ_test"/>
      <add key="host" value="localhost"/>
    </test>
    <release>
      <add key="connectionString" value="mongodb://mhg:omfgThisIsLong@flame.mongohq.com:27069/PriorityQ"/>
      <add key="host" value="flame.mongohq.com"/>
    </release>
  </mongo>
  
  <appSettings>
    <add key="Environment" value="Test"/>
  </appSettings>
</configuration>