@{
    ViewBag.Title = "Find ongoing sessions near you";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function displayLookupText(text) {
        $('#lookupText').html('<p>' + text + '</p>');
    }

    function displayActivityText(text) {
        $('#activityText').html('<p>' + text + '</p>');
    }

    function loadSessionsNear(position) {
        var coords = position.coords;
        $('#sessionsNear').load('/session/findNear', {
            lat: coords.latitude,
            lng: coords.longitude
        }, function () {
            displayActivityText('');
        });
    }

    function clearOtherStuff() {
        displayActivityText('');
        $('#sessionsNear').html('');
    }

    function lookUpSessionsNear() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(loadSessionsNear, function () {
                displayLookupText('We\'re terribly sorry, but an error happened while trying to determine your current position. Please try again.');
                clearOtherStuff();
            });
        } else {
            displayLookupText('We\'re terribly sorry, but it seems your browser isn\'t capable of determining your current position.');
            clearOtherStuff();
        }
    }



    $(function () { lookUpSessionsNear(); });
</script>

<div id="activityText">
    <p>Looking for ongoing sessions in your vicinity...</p>
</div>

<div id="sessionsNear">
    <div style="text-align: center;"><img src="@Url.Content("~/Content/img/spinner.gif")" /></div>
</div>

<div id="lookupText"></div>

<div>
    <p>
        Didn't find what you were looking for? 
        Either @Html.ActionLink("go to the index of ongoing sessions", "index", "home")
        or @Html.ActionLink("create a new session", "new", "session")...
    </p>
</div>