body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.hidden 
{
    display: none;
}

.question 
{
    padding: 0.3em 1em 0.4em 1em;
    margin: 0.1em 0 0 0;
    border: 1px solid #bbb;
    background-color: #ddd;
}

.voteCast 
{
    background-color: #eee;
}

fieldset 
{
    padding: 1em 1em 1em 1em;
    margin: 0.1em 0 0 0;
}

.questionCount 
{
    border: 2px solid gray;
    padding: .1em;
    font-size: 1.7em;
    font-weight: bold;
    background-color: White;
    margin: 0;
}

.questionText 
{
    font-size: 1.3em;
}