@{
    ViewBag.Title = "FindNear";
    Layout = "~/Views/Shared/_Bare.cshtml";
}

@if (Model.SessionHeadlines.Count == 0)
{
    <p>There doesn't seem to be any ongoing sessions in your vicinity.</p>
}
else
{
    <p>Enter one of the ongoing sessions:</p>

    <ul>
        @foreach (var session in Model.SessionHeadlines)
        {
            <li>
                <a href="@Url.Action("show", "session", new { Id = @session.Id })">@session.Headline</a>
            </li>
        }
    </ul>
}
