@{
    ViewBag.Title = "FindNear";
    Layout = "~/Views/Shared/_Bare.cshtml";
}

<ul>
    @foreach (var session in Model.SessionHeadlines)
    {
        <li>
            <a href="@Url.Action("show", "session", new { Id = @session.Id })">@session.Headline</a>
        </li>
    }
</ul>
